
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* ,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --dark-cyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    --dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);
    --para-font:14px;
}

body{
    background-color: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
}

.previewCard {
    background-color: var(--white);
    height: auto;
    border-radius: 15px;
    width: min(90%,650px);
}

.image{
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    height: auto;
}

.details {
    padding: 25px ;
}

.first{
    font-family: "Montserrat",sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: var(--para-font);
    color: var(--dark-grayish-blue);
}

.productInfo{
    font-size: 2rem;
    font-family: "Fraunces",sans-serif;
    margin-block: 15px;
    line-height: 1;
}

.description {
    line-height: 1.5;
    font-family:  "Montserrat",sans-serif;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    margin-bottom: 20px;
}

.amount{
    display: flex;
    align-items: center;
}

.amount h1 {
    font-size: 2rem;
    font-family: "Fraunces",sans-serif;
    color: var(--dark-cyan);
    margin-right: 25px;
}

.amount del{
    font-family: "Montserrat",sans-serif;
    color: var(--dark-grayish-blue);
}

button{
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-size: var(--para-font);
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
   display: flex;
   justify-content: center;
   gap: 10px;
    padding-block: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.caps{
    text-transform: uppercase;
}

@media (min-width:600px) {
    .previewCard {
        display: flex;
    }

    .desktopImage {
        border-radius: 15px 0 0 15px;
    }
    .imgSection{
        width: 50%;
  
    }
    
    .productInfo{
        margin-block: 25px;
        font-size: 2.2rem;
    }
    
    .details{
        width: 50%;
        padding: 30px;
      
        
    }

    .description{
        margin-bottom: 30px;
        line-height: 1.8;
    }
    
    .image{
        border-radius: 15px 0 0 15px;
        height: 100%;
}

    button {
        margin-top: 1.8rem;
    }
}